SUPABASE_URL=https://qefgdirmcbmeqcfyjzzy.supabase.co
SUPABASE_SERVICE_KEY=isi_dengan_service_role_key_dari_supabase_project_settings_api
JWT_SECRET=ganti_dengan_random_string_panjang_minimal_32_karakter
PORT=3001
CORS_ORIGIN=http://localhost:5173
